.services-home-container{
  background-color: #F6F6F6;
  width: 99vw;
  margin: 4rem auto;
  padding: 5rem 0;

}

.service-heading{
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.pricing-plans-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
  margin: auto;
  gap: 2rem;
}

.element-seperator-div{
  width: 10vw;
  margin: 1.8rem auto 2.3rem;

}

.element-seperator{
  border-top: 3px solid #e6ae4a;
  text-align: center;
}

