.checkout-parent-container{
  height: 90vh;
}

.checkout-address-container{
  width: 80vw;
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.checkout-address-heading{
  text-align: center;
  margin-top: 1rem ;
}

.element-seperator-checkout{
  width: 10vw;
  margin: 1rem auto 0 ;
}

.plan-notfound-alt{
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-form-side{
  width: 80%;
  margin: auto;
}

.checkout-btn-div{
  width: 80vw;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.checkout-btn{
  border-style: hidden;
  padding: 1rem 0;
  color: rgb(230, 174, 74);
  font-weight: 600;
  font-size: 1.2rem;
}

.checkout-btn:hover{
  background-color: rgb(230, 174, 74);
  color: white;
}

.session-img-container-parent{
  margin: 5rem 0;
}

.look-image-container{
  width: 80vw;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  overflow: hidden;
}

.look-image-img{
  width: 490px;
  height: 500px;
  object-fit: cover;
  margin: 1rem;
}

@media screen and (max-width: 480px) {
  .checkout-parent-container{
    height: 100%;
    display: block;
  }
  .element-seperator-checkout{
    width: 30vw;
    margin: 1rem auto 0 ;
  }
  .checkout-address-container{
    width: 98vw;
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .plan-notfound-alt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .look-image-container{
    width: 80vw;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    overflow: hidden;
  }
  .look-image-img{
    width: 40vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    margin: 1rem;
  }
}